includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    bootstrapFiles:
        - .phpstan-bootstrap.php
    paths:
        - open-trust-center-by-ettic.php
        - uninstall.php
        - includes/
    excludePaths:
        analyse:
            - includes/data/*-catalog.php
        analyseAndScan:
            - dist (?)
            - vendor (?)
            - node_modules (?)
            - languages
            - templates
    treatPhpDocTypesAsCertain: false
